{% extends "layout.html" %}
{% block title%}home{% endblock title %}

            {% block content %}
            <!--Prediction contents-->
                <div class="upblock">
                    <h1 class="fmd">Message Detective</h1>
                    <div class="simile">
                        <img src="../static/icon/kiKnKpyeT.png" width="40px" height="40px">
                    </div>
                    <div class="txt top">Welcome Copy and paste message in the first text box.
                    </div>
                    <div class="txt t-top">Then indicate the platforrm the message was sent form. submit then click check to view message status.</div>
                    <form method="POST">
                        <div class="txt3">
                            <textarea id="pred_txt" name="pred_txt" placeholder="insert text to be predicted here.."></textarea>
                        </div>
                        <div class="txt4">
                            <input type="text" name="txtdb" placeholder="-Message Source/Phone/Social Media's-">
                            <div class="btn">
                                <button class="db">Submit</button>
                                <a class="check pred" href="#">check</a>
                            </div>
                        </div>
                    </form>
                </div>
            <!--stories experience-->
            <div class="user-stories">
                
            </div>
{% endblock content %}
